@import "../../scss/mixins", "../../scss/variables";

.search-toggle {
  display: flex;
  justify-content: center;
  width: $header-height;
  height: $header-height;
  background: transparent;
  transition: all 0.2s ease-out;
  cursor: pointer;
  z-index: 2;

  @include tablet {
    position: absolute;
    right: 0;
  }

  &__is-open {
    background-color: $clr-primary-dark;

    .search-toggle__button {
      transform: rotate(-180deg);
    }
  }

  &__button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-out;
    width: 100%;

    .icon {
      font-size: 1.8rem;
      color: $clr-white;
      transition: 0.2s ease-out;
    }
  }
}
