@import "../../scss/mixins", "../../scss/variables";

.drink-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(280px, 500px));
  grid-gap: 15px;
  margin-bottom: 25px;

  @include tablet {
    grid-template-columns: repeat(2, minmax(280px, 320px));
  }

  @include tablet-landscape {
    grid-template-columns: repeat(3, minmax(280px, 320px));
  }

  @include laptop {
    grid-template-columns: repeat(4, minmax(280px, 320px));
  }

  @include desktop {
    grid-template-columns: repeat(5, minmax(280px, 320px));
  }
}