/* COLORS */

$clr-primary: #ff6000;
$clr-primary-dark: #b34400;
$clr-primary-light: #ff914d;
$clr-white: #ffffff;
$clr-black: #000000;
$clr-grey: #64748b;
$clr-dark: #1e293b;
$clr-info: #0099cc;
$clr-delete: #737373;
$clr-delete-alt: #595959;
$clr-danger: #dc143c;

$clr-background: #e6e6e6;

/* SIZES */
$header-height: 60px;
